.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
.header1 {
  position: relative;
  height: 100vh;
  max-width: 100%;
}
.head {
  position: absolute;
  margin: 20px;
  padding: 20px 20px;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  background: transparent;
}
h1 span {
  display: block;
  font-size: 20px;
  letter-spacing: 17px;
  text-align: center;
  font-weight: 300;
}
h1 a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 10px;
}
button {
  text-decoration: none;
  font-family: "italianno", cursive;
}
h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.5;
  font-size: 40px;
  font-weight: 300;
}
h1 {
  background-color: transparent;
  margin-bottom: 50px;
}
body {
  font-family: Arial, sans-serif;
  background: #f8f4f0;
  margin: 40px;
  color: #3d2c2c;
}

.price-list {
  width: 100%;
  margin: 0;
  background: #ffffff;
  padding: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.price-list h1 {
  text-align: center;
  color: #8b0000;
  margin-bottom: 20px;
}

.price-list h2 {
  color: #8b0000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.price-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.price-list li {
  padding: 5px 0;
  font-weight: 600;
}

.footer-section {
  background: #756a6a;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  font-size: 25px;
  /* border-radius: 0 0 10px 10px; */
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 768px) {
  .video,
  .header1,
  .head,
  .price-list,
  .footer-section {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 100%;
  }

  header {
    background: none;
  }
}
